.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
  }
  
  .hamburger.open div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px);
  }
  

  